.vs/
*.vcxproj.user
*.vcxproj.filters
*.vcxproj.*
*.ncb
*.suo
*.user
*.cache
*.pdb
*.opendb
*.tlog
*.log

build/
Debug/
Release/
*.obj
*.exe
*.dll
*.lib
*.idb
*.ipch
*.ilk
*.o
*.pch
*.pdb
*.rsp

*.class
*.tmp
*.csproj.user
*.csproj.vspscc
*.pyc
*.pyo
*.sln.docstates
*.sln.ide.log
